.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: #1a202c;
}
.Navbar-Container {
  width: 100%;
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;

  padding: 15px 0;
  margin-bottom: 100px;
}
.Navbar-Link {
  margin-right: 100px;
  cursor: pointer;
  user-select: none;
  color: white;
  font-size: 18px;
}
.Navbar-Link:last-child {
  margin-right: 0;
}
.Home-Container,
.Mint-Container,
.Stake-Container,
.Upload-Container {
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  position: relative;
}
/* .Upload-Container{
  justify-content: center;
} */

.Home-ConnectWallet {
  background-color: white;
  color: black;
  padding: 30px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  margin-top: 50px;

  align-items: center;
  justify-content: center;
}
.Mint-Button {
  background-color: white;
  color: black;
  padding: 30px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.Mint-Input {
  align-items: center;
}
.Mint-Label {
  font-size: 20px;
  color: white;
}

.Mint-Balance {
  font-size: 32px;
  color: white;
}
.Mint-Cert-Cont {
  width: 100%;
  background-color: #ffffff;
  border: 10px solid #b3b5b6;
  padding: 5px;

  background-repeat: repeat;
  background-size: 200px 200px;
  position: relative;
}
/* .Mint-Cert-Cont::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./assets/comapnyLogo.png");
  filter: grayscale(100%);
  background-repeat: repeat;
  background-size: 200px 200px;
} */
.Mint-Cert {
  border: 3px solid #b3b5b6;
  width: 100%;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  justify-content: center;
}
.Mint-Cert-Image {
  height: 300px;
  width: 300px;
}
/* .Mint-Cert-Input {
  width: 300px;
  height: 20px;
} */
.Mint-Cert-Description {
  color: black;
  font-family: "Dancing Script", cursive;
}
.Stake-Form {
  flex-direction: column;
}
.Stake-Field {
  flex-direction: column;
  margin-top: 30px;
}
.Stake-Label {
  color: white;
  font-size: 20px;
}
.Stake-CreatedHeading {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}
.Stake-Info {
  flex-direction: column;
}
.Stake-InfoLabel {
  color: white;
  font-size: 18px;
}
.Stake-InfoValue {
  color: white;
}
.Stake-TimeLeft {
  color: white;
}
.Stake-Reward {
  color: white;
}
@media only screen and (max-width: 1000px) {
  .Navbar-Link {
    margin-right: 50px;
  }
}


.Upload-Image{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Upload-FIR-Image{
  margin-bottom: 50px;
  flex-direction: column;
}
.Upload-FIR-Preview{
  display: flex;
  width: 200px;
  height: 200px;
  border : 2px solid black;
  margin-top: 20px;
}
.Upload-Preview{
  display: flex;
  width: 500px;
  height: 500px;
}
.FIR-Box{
  padding : 20px;
  background-color: #FFFFCC;
  color: black;
  width: 1000px;
  flex-direction: column;
  font-family: 'Merriweather', serif;
  margin-bottom: 50px;
}